
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.svn/
*.swp
.project
.settings/
node_modules/
_site/
*.plist
draft/bky/
draft/jj/
draft/sf/
draft/origin/
draft2/bky/
draft2/jj/
draft2/sf/
draft2/origin/
